@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

//The first one loads the angular material theming variables and functions that enable you to customize and interact with the material theme, and the second one will add the material icons from the Google CDN.

@include mat-core();
//This will execute the “mat-core” function, and it adds the default styling for the material components, like colors, padding, overlays and so on.

$primary: mat-palette($mat-lime, 500);
$accent:  mat-palette($mat-lime, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
    font-weight: normal;
}

h1, h2, h3, h4 {
    font-weight: normal;
}